.section-container{
  //transform: scale(0.8);
  width: 95%;
  height: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.my-illustration{
  width: 250px;
  height: 250px;
  position: relative;
  background-image: url("../../../assets/my-illustration-with-border.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 50px;
}

.talk-bubble{
  background-image: url("../../../assets/bubble.png");
  width: 1050px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.15);
  position: relative;
}


.bubble-text{
  width: 78%;
  height: 90%;
  position: relative;
  left: 20px;
  //top: 10px;
  font-size: 14px;
  color: var(--text-color-default);
}
