<div class="toy-train">
  <div class="engine">
    <div class="window">
      <div class="engine-main">
        <div class="smokes">
          <span></span>
        </div>
      </div>
    </div>
    <div class="engine-body">
      <div class="wheels" [ngClass]="{'wheel-animation': isTrainMoving}">
        <div class="big-wheel"></div>
        <div class="normal-wheel"></div>
      </div>
    </div>
  </div>
  <div class="locomotive">
    <div class="wheels" [ngClass]="{'wheel-animation': isTrainMoving}">
      <div class="small-wheel "></div>
      <div class="small-wheel"></div>
    </div>
  </div>
</div>
