.platform-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: -5px;

  .platform-wrapper {
    width: 100%;
    height: 100%;

    .platform-subtitle {
      font-size: 18px;
      color: var(--text-color-default);
      max-width: 217px;
      text-align: center;
      margin: 6px 0 25px;    }
  }


  .platform-illustration-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    height: 92px;
    width: 100%;
  }

  .platform-illustration-wrapper img {
    position: absolute;
    max-height: 115px;
  }

  .two-icon-group {
    margin: 0 22px !important;
  }

  .three-icons-group {
    margin: 0 -10px !important;
    //left: 73px;
  }

  .platform-icons {
    position: relative;
    margin: 10px 45px;
    top: 9px;
    //transition: all 2.5s ease-in;

  }



  .iconsStartAnimation{
    animation: goToWagon 0.4s linear ;
    animation-iteration-count: 1

  }
  @keyframes goToWagon {

    50% {
      top: -30px;
      opacity: 1;
    }

    100% {
      top: 10px;
    }
  }

  .iconsFinishAnimation{
    animation: goToStation 0.3s linear ;
    animation-iteration-count: 1

  }
  @keyframes goToStation {

    50% {
      top: -20px;
      opacity: 1;
    }

    100% {
      top: -10px;
    }
  }


  .platform-icons img {
    width: 40px;
    top: -10px;
    margin: 0 30px;
    left: -52px;
  }


  .add-marge-right {
    margin-right: 30px !important;
  }

  .move-left {
    left: -129px!important;
  }

  .platform-seven{
    position: relative!important;
    margin: -36px 2px!important;
  }

  .move-icons-left{
    left:  -48px!important;
  }

  .icon-up-front {
    z-index: 500;
    margin-right: 60px;
  }

  .move-icon-left {
    left: 7px!important;
  }
  .platforms-nine-move-right{
    left: -63px!important;
  }
  .platforms-nine-move-left{
    left: -42px!important;
  }

  .final-icons {
    left: 5px!important;
    margin: 0 -10px!important;
  }

  .platforms-six-seven{
    left: -44px!important;
  }
}

.goToWagon2{
  animation: toWagon 0.4s linear ;
  animation-iteration-count: 1

}
@keyframes toWagon {

  50% {
    top: -30px;
  }

  100% {
    top: 40px;
  }
}
