<div class="platform-container">
  <div class="platform-wrapper position-center-column">
    <h4 class="platform-title">{{platform.title}}</h4>
    <p [ngStyle]="{'max-width': platform.index === 2 || platform.index === 3 || platform.index === 4? '310px':''}" class="platform-subtitle">{{platform.subTitle}}</p>
    <div class="platform-illustration-wrapper">
        <img [src]="platform.scr">
      <div   class="platform-icons" *ngFor="let icons of platform.iconsGroup; let i = index"
            [ngClass]="{'two-icon-group': icons.index===2 && platform.type!=='final',
            'three-icons-group': icons.index===3 && platform.type!=='final',
            'final-icons': platform.type==='final'}">
        <img  [src]="icons.src"
              [ngClass]="{'add-marge-right': i===1 && platform.iconsGroup.length > 2 && platform.type!=='final',
        'icon-up-front':( i===1 || i===3) && platform.iconsGroup.length > 2 && platform.type!=='final',
        'move-left': (platform.index === 6 || platform.index === 7) && (i===1||i===0) && platform.type!=='final',
        'move-icon-left':platform.index === 8  && i===1 && platform.type!=='final',
        'final-back': platform.type==='final' && i <= 11,'move-right': platform.index === 9 && (i===0|| i===1)}" >
      </div>
    </div>
  </div>
</div>
