<app-sub-titles>Contact & CV</app-sub-titles>
<div class="icons-wrapper position-center-row-complete">
  <div class="gmail-icon icons-contact">
    <img src="assets/icons/gmail.png">
    <p class="icon-subtitle">hanny.y@gmail.com</p>
  </div>
  <div class="whatsapp-icon icons-contact">
    <a href="https://api.whatsapp.com/send?phone=972546171907&text=Hi%20I%20liked%20your%20resume%20site%20and%20i%20would%20like%20to%20offer%20you%20a%20job%20:)" class="whatsUpLink">
    <img src="assets/icons/whatsapp.png">
    <p class="icon-subtitle">054-6171907</p>
    </a>

  </div>
  <div class="download-icon icons-contact" (click)="onDownloadCv()">
    <img src="assets/icons/downlaod.png">
    <p class="icon-subtitle">download CV</p>
  </div>
</div>
