<app-sub-titles>Contact & CV</app-sub-titles>
<div class="icons-wrapper position-center-row-complete">
  <div class="gmail-icon icons-contact">
    <img src="assets/icons/gmail.png">
    <p class="icon-subtitle">hanny.y@gmail.com</p>
  </div>
  <div class="whatsapp-icon icons-contact">
    <img src="assets/icons/whatsapp.png">
    <p class="icon-subtitle">054-6171907</p>
  </div>
  <div class="download-icon icons-contact">
    <img src="assets/icons/downlaod.png">
    <p class="icon-subtitle">download CV</p>
  </div>
</div>
