<div class="wlcome-page-container position-center-column">
  <div class="my-illustration">
    <div class="quarter-circle top-left "></div>
    <div class="quarter-circle bottom-right "></div>
    <div class="border-circle border-line-brown-secondary">
      <img src="assets/my-illustration.png">
    </div>
  </div>
  <div class="little-higher">
    <div class="welcome-title">
      <div class="lines-wrapper-left position-center-row">
        <div class="two-lines-wrapper">
          <div class="top-lines position-center-row">
            <div class="first-line-bigger border-line-brown-white"></div>
            <div class="second-line-small border-line-brown-white"></div>
          </div>
          <div class="bottom-lines position-center-row">
            <div class="first-line-bigger border-line-brown-white"></div>
            <div class="second-line-small border-line-brown-white"></div>
          </div>
        </div>
        <div class="welcome-title position-center-row">
          <h1>Hello, I'm</h1>
          <h1 class="white-title"> Hanny!</h1>
        </div>
        <div class="two-lines-wrapper">
          <div class="top-lines position-center-row">
            <div class="first-line-bigger border-line-brown-white"></div>
            <div class="second-line-small border-line-brown-white"></div>
          </div>
          <div class="bottom-lines position-center-row">
            <div class="first-line-bigger border-line-brown-white"></div>
            <div class="second-line-small border-line-brown-white"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome-btn">
      <button class="btn-border">To My Resume</button>
      <button>To My Resume</button>
    </div>
  </div>
</div>
