.wlcome-page-container{
  width: 100vw;
  height: 100vh;
  background: var(--background-default);

  .my-illustration{
    margin-top: 50px;
    transform: scale(0.80);
    position: relative;

    .quarter-circle{
      width: 555px;
      height: 555px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      position: absolute;
      top: -18px;
      left: -20px;
    }

    .top-left{
      border: 2px solid transparent;
      border-left-color: var(--text-color-welcome);
      transform: rotate(45deg);
      animation: spin-back 20s infinite linear;
    }
    .bottom-right{
      border: 2px solid transparent;
      border-right-color: var(--text-color-welcome);
      transform: rotate(45deg);
      animation: spin 20s infinite linear;

    }

    .border-circle{
      padding: 15px;
      border-radius: 50%;
    }
    .two-eyes{
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 318px;
      width: 290px;
      left: 147px;

        .eye{
          background-color:white;
          position:absolute;
          top:50%;
          left:50%;
          margin-top:-100px;
          margin-left:-100px;
          width:33px;
          height:23px;
          overflow:hidden;
          border-radius:50%;
        }
        .pupil {
          position: absolute;
          background-color: black;
          border: solid 4px #457949;
          width: 8px;
          height: 8px;
          top: 50%;
          left: 50%;
          margin-top: -7px;
          margin-left: -8px;
          border-radius: 50%;
        }
        .eye2{
          margin-left:-4px;
        }
      }
    }


  }


@keyframes spin{
  to {transform: rotate(405deg);}
}

@keyframes spin-back{
  to { transform: rotate(405deg); }
}

.lines-wrapper-left{

  .two-lines-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 16px;
  }
  .top-lines , .bottom-lines{

    .first-line-bigger{
      width: 240px;
      margin-right: 10px;
    }
    .second-line-small{
      width: 8px;
    }
  }

  .bottom-lines{
    transform: rotate(180deg);
  }
}

.welcome-title{
  font-size: 38px;
  margin: 0 35px;
  font-weight: 100;
  letter-spacing: 2px;

  .white-title{
    color: white;
    margin-left: 15px;
  }

}

.welcome-btn{
  display: flex;
  justify-content: center;
  position: relative;
  transition: all .15s ease-in-out;



  button{
    position: relative;
  }

  .btn-border{
    background-color: var(--error-darker);
    color:  var(--error-darker);
    position: absolute;
    top: 6px;
  }
}
.welcome-btn:hover{
  transform: scale(1.03);
}

.little-higher{
  position: relative;
  top: -20px;
}
