<div class="thanks-container position-center-row">
  <div class="lines left-lines">
    <div class="first-line">
      <div class="small-line line-border"></div>
      <div class="large-line line-border"></div>
    </div>
    <div class="second-line">
      <div class="small-line line-border"></div>
      <div class="large-line line-border"></div>
    </div>
  </div>
  <div class="thanks-title-wrapper">
    <h1 class="thanks-title"> Thanks <span class="thanks-title-small">for</span>
      <br> <span class="thanks-title-next-line">Watching!</span>
    </h1>
  </div>
  <div class="lines right-lines ">
    <div class="first-line">
      <div class="small-line line-border"></div>
      <div class="large-line line-border"></div>
    </div>
    <div class="second-line">
      <div class="small-line line-border"></div>
      <div class="large-line line-border"></div>
    </div>
  </div>
</div>
