.train-page-container{

  height: 100%;
  position: relative;
}
.page-title{
  text-align: center;
  margin-bottom: 55px;
  margin-top: 75px;
}

.illustration-and-bubble{
  height: 308px;
  width: 100%;
  position: relative;
}

.train-buttons{
  display: flex;
  justify-content: center;
  position: relative;
  transform:scale(1.2);
  top: -10px;

  .btn-control {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 0;
    background: var(--primary-light);
    cursor: pointer;
    padding: 5px;
    line-height: 14px;
    transition: all 0.2s ease-in;
    color: var(--primary-default);
    font-size: 20px;
    font-weight: 600;
  }

  .button-text{
    position: relative;
    top: -14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s ease-in;

  }
  .back-btn-text{
    left: -10px;
  }
  .next-btn-text{
    right: -70px;
  }
  .next-button:hover ~ .next-btn-text , .previous-button:hover ~ .back-btn-text{
    color: var(--text-color-welcome);
    transform: scale(1.1);

  }

  .button-text:hover{
    color: var(--text-color-welcome);
    transform: scale(1.1);

  }

  .btn-control:hover{
    transform: scale(1.1);
    background: var(--background-default)!important;
    border: solid 1px var(--text-color-welcome)!important;
  }
  .back-btn-text:hover ~ .previous-button , .next-btn-text:hover ~ .next-button  {
    transform: scale(1.1);
    background: var(--background-default)!important;
    border: solid 1px var(--text-color-welcome)!important;
  }

  .previous-button:hover:before, .next-button:hover:before{
    border-top: 2px solid var(--text-color-welcome) !important;
    border-right: 2px solid var(--text-color-welcome) !important;}

}

.arrow-down{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 120px;


  .goDownIcon{
    font-size: 40px;
    width: 40px;
    height: 40px;
    font-weight: 300;
    border-radius: 50%;
    text-align: center;
    animation: MoveUpDown 1.5s linear infinite;
    position: absolute;
    cursor: pointer;
    &:hover{
      background: var(--primary-light);
    }
  }

  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: -7px;
    }
  }
}

.train-station{
  margin:   220px 200px 0;
  position: relative;

  .train-rails {
    .rails-image{
      position: absolute;
      left: -55%;
      top: 20px;
      transition: all 1s ease-in;
    }
  }

  .train-container{
    position: absolute;
    transition: all 1s ease-in;
    left: 360px;
    bottom: -6px;
    z-index: 9999;
  }
  .train-containerSlow{
    transition: all 1.5s ease-in;
  }


  .train-platforms{
    display: flex;
    align-items: flex-end;
    position: absolute;
    height: 100%;
    left: 1px;
    transition: all 1s ease-in;


    .platform-container{
      margin: 0 300px;
      width: 280px;
    }

    .one{
      margin-left: 100px;
    }
  }

}

.languages-container{
  position: relative;
  top: 40px;
}

.arrow-up {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  top: -80px;
  height: 100px;

  .goUpIcon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    font-weight: 300;
    border-radius: 50%;
    text-align: center;
    animation: MoveUpDown 1.5s linear infinite;
    position: absolute;
    cursor: pointer;

    &:hover {
      background: var(--primary-light);
    }

  }
}



