.train-page-container{
  margin: 60px 200px;
  height: 100%;
}
.page-title{
  text-align: center;
  margin-bottom: 40px;
}

.train-buttons{
  display: flex;
  position: absolute;
  top: 460px;
  left: 56%;
  transform: translate(-50%, -50%) scale(1.2);

  .btn-control {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 25px;
    background: var(--primary-light);
    cursor: pointer;
    padding: 5px;
    line-height: 14px;
    transition: all 0.2s ease-in;
    color: var(--primary-default);
    font-size: 20px;
    font-weight: 600;
  }

  .button-text{
    position: relative;
    top: -14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s ease-in;

  }
  .back-btn-text{
    left: -10px;
  }
  .next-btn-text{
    right: -70px;
  }

}

.next-button:hover ~ .next-btn-text , .previous-button:hover ~ .back-btn-text{
  color: var(--text-color-welcome);
  transform: scale(1.1);

}

.button-text:hover{
  color: var(--text-color-welcome);
  transform: scale(1.1);

}

.btn-control:hover{
  transform: scale(1.1);
  background: var(--background-default)!important;
  border: solid 1px var(--text-color-welcome)!important;
}
.back-btn-text:hover ~ .previous-button , .next-btn-text:hover ~ .next-button  {
  transform: scale(1.1);
  background: var(--background-default)!important;
  border: solid 1px var(--text-color-welcome)!important;
}

.previous-button:hover:before, .next-button:hover:before{
  border-top: 2px solid var(--text-color-welcome) !important;
  border-right: 2px solid var(--text-color-welcome) !important;}


.train-station{
  position: relative;
  margin-top: 230px;

  .train-rails {
    .rails-image{
      position: absolute;
      left: -55%;
      top: 20px;
      transition: all 1s ease-in;
    }
  }

  .train-container{
    position: absolute;
    transition: all 1s ease-in;
    left: 360px;
    bottom: -6px;
    z-index: 9999;
  }

  .train-platforms{
    display: flex;
    align-items: end;
    position: absolute;
    height: 100%;
    left: 1px;
    transition: all 1s ease-in;


    .platform-container{
      margin: 0 300px;
      width: 280px;
    }

    .one{
      margin-left: 100px;
    }
  }

}


.languages-container{
  margin-top: 350px;

  //********* animated graphs *********//
  .animation-item {
    margin-bottom: 1rem;
    width: 190px;
  }

  .graph-text {
    fill: var(--text-color-default);
  }

  .animation-graph-container {
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 15rem;

    //** circle graph **/
    .circle-bg {
      fill: none;
      stroke: #4A566F;
      stroke-width: 3;
    }
    .graph-circle {
      fill: none;
      stroke-linecap: round;
    }

    .circle-animation {
      stroke-width: 3.2;
      stroke: var(--selected-lighter);
      animation: progress 1s ease-out forwards;
    }
    @keyframes progress {
      0% {
        stroke-dasharray: 0 100;
      }
    }
  }

}



