<div class="train-page-container">
<h2 class="page-title">Welcome To My Resume</h2>
  <app-illustration-and-bubble></app-illustration-and-bubble>
  <app-sub-titles>Learning & Experience</app-sub-titles>

  <div class="train-station">
    <div class="train-container">
      <div class="wagon-container">
        <img class="wagon-image" [src]="trainStation.train.trainWagon">
       <div class="wagon-icons-container">
         <div class="wagon-icons" *ngFor="let icon of trainStation.train.icons; let i = index">
           <img #trainIcon *ngIf="icon.visible" class="wagon-icon" [ngClass]="{'front-line':  i <= 11}"
                [src]="icon.src">
         </div>
       </div>
      </div>
      <div class="train-image">
        <img [src]="trainStation.train.trainScr">
      </div>
    </div>
    <div class="train-rails">
      <img src="assets/train-rails.png" >
      <div class="all-train-raws">
        <div class="first-raw row">
          <app-platform #firstStation [platform]="trainStation.platform[0]" class="platform-container firstPlatform"></app-platform>
          <app-platform #secondStation [platform]="trainStation.platform[1]" class="platform-container
          secondPlatform" (click)="addFirstAnimation()"></app-platform>
        </div>
        <div class="second-raw row">
          <app-platform [platform]="trainStation.platform[2]" class="platform-container moveLeft"
                        (click)="addSecondAnimation()"></app-platform>
          <app-platform [platform]="trainStation.platform[3]" class="platform-container moveLeft"
                        (click)="addThirdAnimation()"></app-platform>
        </div>
        <div class="third-raw row">
          <app-platform [platform]="trainStation.platform[4]" class="platform-container moveRight"
                        (click)="addFourAnimation()"></app-platform>
          <app-platform [platform]="trainStation.platform[5]" class="platform-container moveRight"
                        (click)="addFiveAnimation()">

          </app-platform>
        </div>
        <div class="four-raw row">
          <app-platform [platform]="trainStation.platform[6]" class="platform-container moveRightmore"></app-platform>
          <app-platform [platform]="trainStation.platform[7]" class="platform-container moveLeft"></app-platform>
        </div>
        <div class="five-raw row">
          <app-platform [platform]="trainStation.platform[8]" ></app-platform>
        </div>
        <div class="six-raw row">
          <app-platform [platform]="trainStation.platform[9]"></app-platform>
        </div>

      </div>
    </div>
  </div>
</div>

<!--[@transformAnimation]="{value:transformValue,params:{leftStart:startNum ,left:moveNum }}"-->
