<div class="train-page-container" id="pageTop" *ngIf="trainStation">
<h2 class="page-title">Welcome To My Resume</h2>
  <div class="illustration-and-bubble">
    <app-illustration-and-bubble></app-illustration-and-bubble>
  </div>
  <div class="train-buttons">
    <p class="button-text back-btn-text" (click)="canGoToStation?toPreviousStation():''" >Back</p>
    <button class="previous-button btn-control" (click)="canGoToStation?toPreviousStation():''" ><</button>
    <p class="button-text next-btn-text"  (click)="canGoToStation?toNextStation():''" disabled="canGoToStation">Next</p>
    <button class="next-button btn-control" (click)="canGoToStation?toNextStation():''" >></button>

  </div>
  <div class="train-station">
    <div class="train-rails">
      <img #rails class="rails-image" src="assets/train-rails.png" >
    </div>
    <div #allPlatforms class="train-platforms">
      <div #train class="train-container">
        <app-train-illustration  [train]="trainStation.train"></app-train-illustration>
      </div>
      <app-platform [platform]="trainStation.platform[0]" class="platform-container one"></app-platform>
      <app-platform [platform]="trainStation.platform[1]" class="platform-container two" ></app-platform>
      <app-platform [platform]="trainStation.platform[2]" class="platform-container three"></app-platform>
      <app-platform [platform]="trainStation.platform[3]" class="platform-container four"></app-platform>
      <app-platform [platform]="trainStation.platform[4]" class="platform-container five"></app-platform>
      <app-platform [platform]="trainStation.platform[5]" class="platform-container six"></app-platform>
      <app-platform [platform]="trainStation.platform[6]" class="platform-container seven"></app-platform>
      <app-platform [platform]="trainStation.platform[7]" class="platform-container eight"></app-platform>
      <app-platform [platform]="trainStation.platform[8]" class="platform-container nine "></app-platform>
      <app-platform [platform]="trainStation.platform[9]" class="platform-container ten "></app-platform>
    </div>
  </div>
  <div class="arrow-down"(click)="onClick('languages-container')">
    <mat-icon class="goDownIcon" aria-label="go down icon">keyboard_arrow_down</mat-icon>
  </div>
  <div class="languages-container" id="languages-container" >
    <app-languages></app-languages>
  </div>
  <div class="Contact-container">
    <app-contact></app-contact>
  </div>


  <div class="thanks-container">
    <app-thank-you></app-thank-you>
  </div>

  <div class="arrow-up"(click)="onClick('pageTop')">
    <mat-icon class="goUpIcon" aria-label="go up icon">keyboard_arrow_up</mat-icon>
  </div>


</div>
