@use '~@angular/material' as mat;
@import '~@angular/material/theming';

$my-CV-site-primary: mat.define-palette(mat.$amber-palette, 200, 100, 800);
$my-CV-site-accent:  mat.define-palette(mat.$indigo-palette, 400, A100, 800);


$my-CV-site-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-CV-site-theme: mat.define-light-theme((
  color: (
    primary: $my-CV-site-primary,
    accent: $my-CV-site-accent,
    warn: $my-CV-site-warn,
  )
));

@include mat.all-component-themes($my-CV-site-theme);



